@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li a {
    text-decoration: none;
}
.nav-izq{
    display: flex;
}
.nav-der{
    display: flex;
}
.container{
    display: grid;
    margin: 50px 200px 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    border: 1px solid rgb(185, 185, 185);
    background-color:rgba(219, 219, 219, 0.521) ;
    border-radius: 8px;
    margin: 15px 45px;
    padding: 10px 20px 15px 20px;
}
.card h4{
    text-align: center;
}
.img-card{
    width: 250px;
    height: 200px;
}
.footer-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-card{
    padding: 8px 20px;
    background-color: rgb(236, 167, 17);
    border-radius: 3px;
    color:#fff;
}
.precio-card{
    font-weight: bold;
    color:rgb(236, 167, 17);
    padding-left: 10px;
}